@{
    Layout = "_layoutAdmin";
}
<main class="admin-cat admin-panel">
<label for="">Hola, @User.Identity?.Name ! ¿Que quieres hacer hoy?</label>
    @if(User.IsInRole("Administrador") || User.IsInRole("Gerente"))
    {
        <a href="~/Admin/Productos/Index">
            <div>
                <img alt="icon" src="~/img/nav/productos.png" />
                <label for="">Gestionar Productos</label>
            </div>
        </a>

        <a href="~/Admin/Categorias">
            <div>
                <img alt="icon" src="~/img/nav/categorias.png" />
                <label for="">Gestionar Categorias</label>
            </div>
        </a>
    }
    

<a href="~/Home/Logout">
    <div>
        <img alt="icon" src="~/img/nav/logout.png" />
        <label for="">Cerrar Sesion</label>
    </div>
</a>
</main>